.advantages {
  text-align: center;
}

  .advantages__slogan {
    @include reset;
    padding: 32px 30px 30px;
    font-weight: bold;
    font-size: 18px;
   }

   .advantages__intro {
     @include reset;
     line-height: 26px;
     padding: 0 20px 11px;
   }


  @media (min-width:$tablet-width) {
    .advantages__slogan {
      @include reset;
      padding: 43px 100px 30px;
      font-size: 21px;
     }
     .advantages__intro {
      padding-bottom: 53px;
    }
    }

  @media (min-width: $desktop-width) {
    .advantages__slogan {
      padding: 55px 300px 42px;

     }
     .advantages__intro {
      padding-bottom: 41px;
    }
    }





