
  .advantages__wrapper {
    width: $mobile-wrapper;
    margin: 0 auto;
    text-align: center;
  }

    @media (min-width:$tablet-width) {
      .advantages__wrapper {
        width: $tablet-wrapper;
      }

     }
    @media (min-width: $desktop-width) {
      .advantages__wrapper {
        width: $desktop-wrapper;
      }
     }




