.advantages {
  text-align: center;
}
  .advantages__wrapper {
    width: $mobile-wrapper;
    margin: 0 auto;
    padding: 32px 18px 32px;
    box-sizing: border-box;
  }

    @media (min-width:$tablet-width) {
      .advantages__wrapper {
        width: $tablet-wrapper;
      }

     }
    @media (min-width: $desktop-width) {
      .advantages__wrapper {
        width: $desktop-wrapper;
      }
     }


.advantages__slogan {
 @include reset;
 padding-bottom: 44px;
 font-weight: bold;
 font-size: 18px;
}

.advantages__intro {
  @include reset;
  line-height: 24px;
}




