
  .advantages__wrapper {
    @media (max-width:$mobile-width-only) {
         width: 295px;
         margin: 0 auto;
         text-align: center;
     }
     @media (min-width:$tablet-width) {
         width: 640px;
     }
     @media (min-width: $desktop-width) {
         width: 960px;
     }
  }




