.catalog-video__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog-video__presentation {
  width: 280px;
  text-align: center;
}
.catalog-video__presentation-title {
  font-size: 18px;
  font-weight: bold;
}
