
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}
.copyright__text {
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 7px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
}

.copyright-icon {
  fill: #000;
  &:hover,
  &:focus {
    fill: #81B3D2;
  }
  &:active {
    fill: rgba(0,0,0, .3);
  }
}
