
.copyright {
  display: flex;
  justify-content: center;
}
.copyright__text {
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 7px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
}

.copyright-icon {
  fill: #000;
  &:hover,
  &:focus {
    fill: #81B3D2;
  }
  &:active {
    fill: #000;
    fill-opacity: .3;
  }
}
