.features__wrapper {
  padding: 24px 0;
}
.features__list {
  @include reset-list;
}
.features__item {
  position: relative;
  padding-left: 70px;

}


.features__icon {
position: absolute;
top: 0;
left: 21px;
transform: translateY(-25%);
}












@media (min-width:$tablet-width) {
  .features__list {
    display: flex;
  }
  .features__item {
    padding: 98px 20px 0;
  }
  .features__item--gift {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .features__text {
    padding: 0 20px;
  }
  .features__item {
    padding: 98px 30px 0;
  }
}
