.features__wrapper {
  padding: 24px 0;
}

.features__list {
  @include reset-list;
  padding-right: 20px;
}

.features__item {
  position: relative;
  padding-left: 70px;
}

.features__title {
  @include reset;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.features__text {
  @include reset;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 0;
}

.features__item--house::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 21px;
  width: 39px;
  height: 38px;
  background-image: url("../../img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateY(-25%);

  @media (min-width: $tablet-width) {
    top: 35px;
    left: 50%;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icons/icon-house-tablet.svg");
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/icons/icon-house-desktop.svg");
  }
}

.features__item--gift::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 24px;
  width: 39px;
  height: 38px;
  background-image: url("../../img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateY(-25%);

  @media (min-width: $tablet-width) {
    top: 32px;
    left: 50%;
    width: 64px;
    height: 75px;
    background-image: url("../../img/icons/icon-gift-tablet.svg");
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/icons/icon-gift-desktop.svg");
  }
}

.features__item--burger::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 19px;
  width: 39px;
  height: 38px;
  background-image: url("../../img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateY(-25%);

  @media (min-width: $tablet-width) {
    top: 36px;
    left: 50%;
    width: 76px;
    height: 69px;
    background-image: url("../../img/icons/icon-burger-tablet.svg");
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/icons/icon-burger-desktop.svg");
  }
}

.features__text-new-string {
  content: "";

  &::after {
    content: "\00a0";
  }
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding: 24px 0 23px;
  }

  .features__list {
    @include reset;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .features__item {
    width: 256px;
    padding: 100px 10px 38px;
    box-sizing: border-box;
  }

  .features__title {
    font-size: 21px;
    padding-top: 35px;
    padding-bottom: 22px;
  }

  .features__item--gift {
    order: 3;
  }

  .features__text--house {
    padding: 0 30px;
  }

  .features__text--burger {
    padding: 0 40px;
  }

  .features__text--gift {
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    padding: 24px 0 81px;
  }

  .features__text {
    padding: 0 20px;
  }

  .features__item {
    width: 400px;
    padding: 98px 30px 0;
  }

  .features__title {
    padding-bottom: 25px;
  }

  .features__text-new-string {
    content: none;
  }
}
