.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 28px;
}

@media (min-width:$tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
  }
  }

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
  }
  }
