
.form {
  max-width: $mobile-wrapper;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content min-content;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;
}
.form fieldset {
  @include reset;
  border: none;
}
.form__legend {
  @include reset;
  border-top: 1px solid #E5E5E5;
  padding-top: 20px;
  width: 100%;
}
.form__legend--uppercase {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.form__input--style {
 background-color: #F2F2F2;
 border: none;
 height: 58px;
 box-sizing: border-box;
 width: 100%;
 padding-left: 22px;
  &::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
  &::-moz-placeholder {
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
}

.form__button {
  background-color: $lightblue;
  color: $white;
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 19px 32px 14px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  box-sizing: border-box;
}
.form__text--bold {
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}
.form__footnote {
  display: none;
}





/*------------------form__feildset-personal-info-------------------*/

.form__personal-info-label {
  display: flex;
  align-items: center;
}
.form__personal-info-text {
  padding-right: 15px;
}

/*------------------form__fieldset-information----------------------*/
.form__information-list {
  @include reset-list;
  padding: 17px 0 28px;
}
.form__information-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.form__text-information {
  padding-left: 20px;
}
.form__input--tel {
  padding-right: 58px;
}

.form__input--email {
  padding-right: 58px;
}

.form__input-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}


/*------------------form__fieldset-impressions-----------------------*/

.form__impressions-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.form__input-impression {
  box-sizing: border-box;
  @include reset;

  &:checked+label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    transform: translateY(25%);
  }
}

.form__impressions-item {
  display: flex;
  align-items: center;
  height: 58px;
  padding-top: 14px;
}

.form__impressions-label {
  position: relative;
  padding-left: 75px;
}

.form__impressions-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 50%;
  transform: translateY(-25%);
}








/*--------------------form__fieldset-sight--------------------*/
.form__sight-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 54px;
    @media (min-width:$tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }
}
.form__sight-item {
  padding-top: 36px;
   @media (min-width:$tablet-width) {
     padding-left: 54px;
     text-align: start;
   }
   @media (min-width: $desktop-width) {
      padding-left: 0;
  }
}
.form__sight-label {
  position: relative;
  padding-left: 75px;
}

.form__sight-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  transform: translateY(-25%);
}
.form__input-sight:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  width: 24px;
  height: 17px;
  background-image: url(../../img//icons/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateY(25%);
}


/*--------------------form__fieldset-comments--------------------*/

.form__comments-text {
  width: 100%;
  background-color: #F2F2F2;
  border: none;
}
.form__comments-text--placegolder-style {
  &::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
  &::-moz-placeholder {
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
}






@media (min-width:$tablet-width) {
  .form {
    max-width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content 1fr;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 61px;
  }
  .form__legend {
    padding-top: 0;
    border-top: none;
  }
  .form fieldset {
    border: none;
  }
  fieldset.form__fieldset-personal-info {
  padding-left: 61px;
}

  fieldset.form__fieldset-impressions {
    grid-row: 1/2;
    grid-column: 1/2;
    border-right: 1px solid #DBDBDB;
  }


  fieldset.form__fieldset-information {
    grid-column: 1/3;
  }

  .form__input-tel {
    width: 648px;
  }
  .form__input-email {
    width: 648px;
  }


  .form__fieldset-sight {
    grid-column: 1/3;
  }
  .form__fieldset-sight-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .form__fieldset-comments {
    grid-column: 1/3;
  }

  .form__button {
    max-width: 324px;
  }
  .form__footnote {
    display: block;
    justify-self: end;
  }
}


@media (min-width: $desktop-width) {
  .form {
    max-width: 960px;
    padding-bottom: 66px;
  }
  fieldset.form__feildset-personal-info {
    padding-left: 78px;
  }


/*------------------form__fieldset-information----------------------*/
.form__information-list {
  display: grid;
  grid-template-columns: 480px 480px;
}
.form__information-label {
  align-items: center;
  flex-wrap: nowrap;
}

.form__text-information {
  padding-right: 17px;
  padding-left: 0;
  width: max-content;
}
.form__information-item-tel {
  padding-right: 80px;
}
  .form__fieldset-sight-inner {
    display: flex;
    justify-content: space-around;
  }

  .form__input-tel {
    width: 316px;
  }
  .form__input-email {
    width: 316px;
  }

  .form__text--none {
    display: none;
  }


  .form__button {
    max-width: 480px;
  }
}
