.main-nav__list {
  @include reset-list();
 }
 .site-list__item-link {
  color: $white;
  text-decoration: none;
}
.main-nav__wrapper {
  max-width: $mobile-wrapper;
  margin: 0 auto;
}
   @media (min-width:$tablet-width) {
     .main-nav__wrapper {
       max-width: $tablet-wrapper;
     }
     .main-nav__toggle {
       display: none;
     }
     .main-nav__list {
      display: flex;
      justify-content: space-between;
    }
   }

   @media (min-width: $desktop-width) {
     .main-nav__wrapper {
       max-width: $desktop-wrapper;
     }
   }


