.modal-map__wrapper {
  max-width: $mobile-wrapper;
  margin: 0 auto;
  text-align: center;
}
.modal-map__image {
  width: 320px;
  height: 350px;
  width: 100%;
}


@media (min-width:$tablet-width) {
  .modal-map__wrapper {
    max-width: $tablet-wrapper;
  }
  }

@media (min-width: $desktop-width) {
  .modal-map__wrapper {
    max-width: $desktop-wrapper;
  }
  }
