.page-header {
  background-color: $lightblue;
  color: #333;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 389px;
  align-self: center;
  margin-top: 90px;

  @media (min-width: $tablet-width) {
      height: 518px;
      margin-top: 77px;
  }
  @media (min-width: $desktop-width) {
    height: 518px;
    margin-top: 78px;
  }
}

