.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: #000;
  text-transform: uppercase;
}
.page__wrapper {
  margin: 0 auto;
  max-width: $mobile-wrapper;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

@media (min-width:$tablet-width) {
  .page__wrapper {
    max-width: $tablet-wrapper;
  }
  }

@media (min-width: $desktop-width) {
  .page__wrapper {
    max-width: $desktop-wrapper;
  }
  }
