.page-header {
  background-color: $lightblue;
  color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  text-align: center;

}

.page-header__logo {
  height: 389px;
  background-image: url(../../img/back-mobile.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 90px;


  @media (min-width: $tablet-width) {
      height: 518px;
      padding-top: 77px;


  }
  @media (min-width: $desktop-width) {
    background-image: url(../../img/back-desktop.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 78px;
  }
}

