
.reason-one__wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reason-one__text {
  @include reset;
  background-color: $lightblue;
  color: $white;
  padding: 55px 12px 39px;
  box-sizing: border-box;
}
.reason-one__text--bold {
  font-weight: bold;
  font-size: 18px;
}
.reason-one__image {
  width: 520px;
  height:260px;
}





@media (min-width:$tablet-width) {
  .reason-one__text {
    max-width: 33%;
    padding: 43px 36px 40px;
  }
  .reason-one__image {
    width: 67%;
    height: 256px;
  }
  .catalog-photo__figcaption {
    background-color: #F2F2F2;
  }
}


@media (min-width: $desktop-width) {
  .reason-one__text {
    padding: 47px 53px 56px;
  }
}
