
.reason-one__wrapper {
  max-width: $mobile-wrapper;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reason-one__text {
  @include reset;
  background-color: $lightblue;
  color: $white;
  padding: 55px 12px 39px;
  box-sizing: border-box;
}
.reason-one__text--bold {
  font-weight: bold;
  font-size: 18px;
}
.reason-one__image {
  width: 520px;
  height:260px;
}





@media (min-width:$tablet-width) {
  .reason-one__wrapper {
    max-width: $tablet-wrapper;
    flex-wrap: nowrap;
  }
  .reason-one__text {
    max-width: 30%;
    padding: 43px 36px 40px;
  }
  .reason-one__image {
    width: 70%;
    height: 256px;
  }
}


@media (min-width: $desktop-width) {
  .reason-one__wrapper {
    max-width: $desktop-wrapper;
    flex-wrap: nowrap;
  }
  .reason-one__text {
    max-width: 400px;
    padding: 47px 53px 56px;
  }
  .reason-one__image {
    width: 800px;
    height: 256px;
  }
}
