.search__wrapper {
  max-width: $mobile-wrapper;
  margin: 0 auto;
  text-align: center;
  padding: 33px 0 49px;
}
.search__link {
  width: 100%;
  box-sizing: border-box;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color: $lightblue;
  color: $white;
  text-decoration: none;
  padding: 15px 32px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #669EC0;
  }
  &:active {
    background-color: #5496BD;
    color: rgba(255,255,255, .3);
  }
  &:disabled {
    background-color: #E5E5E5;
  }
}
.search__title {
  font-weight: bold;
  font-size: 21px;
}
.search__text {
  line-height: 24px;
}





@media (min-width:$tablet-width) {
  .search__wrapper {
    width: 458px;
    padding: 57px 0 58px;
  }
  .search__title {
    font-size: 30px;
  }
  .search__text {
    line-height: 21px;
  }
  }


@media (min-width: $desktop-width) {
  .search__wrapper {
    padding: 57px 0 66px;
  }
  }
