.site-list__item-link {
  position: relative;
  display: block;
  padding: 10px 21px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81B3D2;
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(1,1,1, .2);

  &:hover,
  &:focus {
    background-color: #669EC0;
  }
  &:active {
    background-color: #5496BD;
    color: rgba(255,255,255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list__item-link {
    color: #000;
    background-color: #fff;
    border-bottom: none;
    font-size: inherit;
    &:hover,
    &:focus {
      color: #81B3D2;
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
      color: rgba(0,0,0, 0.3);
    }
    &--current {
      color: #766357;
    }
  }
  .site-list__item--main {
    padding-left: 26px;
  }
  .site-list__item--catalog {
    padding-left: 35px;
  }
  .site-list__item--form-comment {
    margin-left: auto;
    padding-right: 10px;
  }
  .site-list__item--html-academy {
    padding-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding-left: 76px;
  }
  .site-list__item--main {
    padding-left: 15px;
  }
  .site-list__item--catalog {
    padding-left: 145px;
  }
  .site-list__item--form-comment {
    margin-left: auto;
    padding-right: 45px;
  }
}

