.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link svg {
  width: 46px;
  height: 48px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social__icon {
  fill: #81b3d2;

  &:hover,
  &:focus {
    fill: #669ec0;
  }

  &:active {
    fill: #5496bd;
  }
}

.social__icon path {
  fill: #ffffff;
}

.social__icon:active path {
  fill: rgba(255, 255, 255, 0.3);
}
