.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.social__link svg {
  width: 46px;
  height: 48px;
}

.social__link {
  margin-right: 6px;
}


.social__icon  {
  fill:#81B3D2;

  &:hover,
  &:focus {
    fill: #669EC0;;
  }
  &:active {
    fill:#5496BD;
  }
}

/*social__icon path {
  fill-opacity: .6;
}*/

