// @import("global/variables.scss");
// Colors

$lightblue: #81B3D2;
$white: #fff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;


// wrapper

$mobile-wrapper: 460px;
$tablet-wrapper: 900px;
$desktop-wrapper: 1200px;

