// @import("global/variables.scss");
// Colors

$lightblue: #81B3D2;
$white: #fff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-wrapper: 280px;
$desktop-wrapper: 960px;
$tablet-wrapper:640px;
