// @import("global/variables.scss");

$lightblue: #81b3d2;
$white: #ffffff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;

// wrapper

$mobile-wrapper: 460px;
$tablet-wrapper: 768px;
$desktop-wrapper: 1200px;
