@import "global/normalize.scss";

// Global


@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";
@import "global/mixin.scss";

//Blocks

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/advantages.scss";
@import "blocks/reason-one.scss";
@import "blocks/reason-two.scss";
@import "blocks/features.scss";
@import "blocks/another-reasons.scss";
@import "blocks/search.scss";
@import "blocks/modal-map.scss";
@import "blocks/footer.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
@import "blocks/advantages-catalog.scss";
@import "blocks/catalog-photo.scss";
@import "blocks/catalog-video.scss";
@import "blocks/form.scss";
@import "blocks/advantages-form.scss";
@import "blocks/popap-error.scss";
@import "blocks/popap-successfully.scss";

